system/system/priv-app/MiBrowserGlobal/MiBrowserGlobal.apk
system/system/product/priv-app/Velvet/Velvet.apk
cust/app/customized/partner-com.ebay.mobile_49/partner-com.ebay.mobile_49.apk
cust/app/customized/partner-video.like_111/partner-video.like_111.apk
